<div class="text-center my-20">
    <div class="">
        <h1 class="text-4xl font-semibold mb-4">About</h1>
        <p class="text-lg mb-14">We are a small passionate team.</p>
    </div>
    <div class="flex my-28">
        <div class="w-full">
            <img class="h-72 w-full object-cover rounded-md"
                src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2F4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg%3Fw%3D2000%26auto%3Dformat&w=640&q=75"
                alt="">
        </div>
        <div class="w-full mx-16 h-72 relative">
            <img class="h-72 object-cover rounded-md absolute bottom-14"
                src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2Fcd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg%3Frect%3D0%2C0%2C4480%2C3760%26w%3D2000%26auto%3Dformat&w=640&q=75"
                alt="">
        </div>
        <div class="w-full">
            <img class="h-72 w-full object-cover rounded-md"
                src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2F4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg%3Fw%3D2000%26auto%3Dformat&w=640&q=75"
                alt="">
        </div>
    </div>
    <div class="px-40 flex flex-col gap-4">
        <p>We provide real-time connectivity to enable software providers and financial institutions to build integrated
            products for their small business customers.</p>
        <p>Our API infrastructure is leveraged by clients ranging from lenders to corporate card providers and business
            forecasting tools, with use cases including automatic reconciliation, business dashboarding, and loan
            decisioning.</p>
        <a class="underline font-semibold">Get in touch</a>
    </div>
</div>